@CHARSET "UTF-8";

#head{
	position:absolute;
}
.logo{
	float:left;
	margin-top:5px;
	margin-left:20px;
}
.prod_list{
	margin-top:150px;
}

.prod_list ul li{
	position:relative;
	float:left;
	list-style:none;
	border:1px solid #d0d0d0;
	border-bottom:1px solid white;
	border-top:1px solid white;	
	width:236px;
	height:300px;
}
.prod_list ul li:hover{
	border:1px solid black;
}
.prod_list ul li p{
	margin-left:8px;	
}
.prodName{
	margin-left:1px;
	font-size:13px;
	font-family:"돋움";
}
.prodPrice{
	margin-top:-5px;
	margin-bottom:-5px;
	font-weight:bold;
	font-size:1.385em;
}
.prod_list .CVS{
	position:relative;
	margin-top:30px;
	margin-left:-30px;
	margin-right:15px;
	float:right;
	width:40px;
	heigth:40px;	
}
.prodTag span{
	background-color: #a851ff;
	color: white;
}

#more button{
	width:236px;
	height:305px;
}

